.addbutton {
  background-color: green !important;
}

/* .addbutton:hover {
  background-color: green !important;
} */

.modalheading {
  color: green !important;
  font-size: 18px;
  font-weight: 600;
  margin: auto;
}

.modalfooter {
  justify-content: center;
}

.savebutton {
  padding: 6px 40px;
  font-weight: 600;
  background-color: green !important;
}
